/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
    font-family: Calibri, Trebuchet, sans-serif;
  }

body {
    font-size: inherit;
}
nav {
    background-color:#66AEE2;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

nav a.button-collapse {
    
}

p {
  line-height: 2rem;
}



.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  background-color:#66AEE2;
  margin: 0;
}

.logoTop{
    height:64px
}

.footer-btn {
  background-color: #66AEE2 !important; }

.index
{
	height: 300px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../Content/Images/background1.jpg');
	overflow: hidden;
}

.index-content
{
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 40px;
	font-size: 1.4em;
	text-align: center;

}

.index-content .title {
    	color: #DC281E;
}

.index-content .subtitle {
    	color: #005883;
}

.search
{
	height: 300px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url('../Content/Images/background2.jpg');
	overflow: hidden;
}

.search-content
{
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 40px;
	color: #ffffff;
	font-size: 1.4em;
	text-align: center;
}

.search-content .title {
    	color: #ffffff;
}

.searc-content .subtitle {
    	color: #ffffff;
}